<div class="forms__kobocat__btn forms__kobocat__btn--publish" ng-click="open()" >Deploy survey draft as new map <i class="fa fa-external-link-square"></i></div>
<div class="forms__kobocat__publisher" ng-show="show_publisher">
    <label for="form-label" class="forms__kobocat__publisher__label">
        Title*<br/>
        <input placeholder="{{ item.name }}" class="forms__kobocat__publisher__input" id="form-label" ng-model="form_label" />
    </label>
    <label for="form-name" class="forms__kobocat__publisher__label">
        Confirm the unique id of your map*<br/>
        <input placeholder="{{ get_form_id(item) }}" class="forms__kobocat__publisher__input" id="form-name" ng-model="form_name" />
        <p class="examples">For each map deploy, this MUST be unique.</p>
    </label>
    <label for="form-description" class="forms__kobocat__publisher__label">
        Project question*<br/>
        <textarea class="forms__kobocat__publisher__input" id="form-description" ng-model="form_description"></textarea>
        <p class="examples">Examples: Can we get clean drinking water? or Can we increase polio vaccination rates?</p>
    </label>
    <label for="form-description" class="forms__kobocat__publisher__label">
        Should the survey results be public?*<br/>
        <div class="field-contents">
            <label for="public"><input type="radio" class="forms__kobocat__publisher__input" ng-model="form_shared" value="True">Public</label>
            <label for="private"><input type="radio" class="forms__kobocat__publisher__input" ng-model="form_shared" value="False">Private</label>
        </div>
    </label>
    <label for="form-description" class="forms__kobocat__publisher__label">
        Category*<br/>
        <select ng-model="form_categories" 
                class="form-categories" 
                ng-init="form_categories = scope.defaultSelectVal"></select>
    </label>
    <label for="form-description" class="forms__kobocat__publisher__label">
        Tags*<br/>
        <input class="forms__kobocat__publisher__input form-tags-class" name="tags" id="form-tags" ng-model="form_tags"/>
        <p class="examples">Examples: graffiti, tobacco, water...(separate tags with commas)</p>
    </label>
    <span class="error-message" ng-show="show_form_name_exists_message">{{ error_message }}</span>
</div>